---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>游빏 Laboratorio #3: Git</h1>
			<p>
				Este es el tercer laboratorio de la materia <strong>Seguridad en dise침o de aplicaciones y bases de datos</strong>, en este
				debemos de comprender las distintas formas de trabajar el control de versiones en proyectos, como lo pueden ser:
				<ul>
					<li>Git Flow</li>
					<li>Trunk Based Development</li>
					<li>etc...</li>
				</ul>
			</p>
			<p>
				Esta p치gina fue creada con el proposito de poner en pr치ctica los conceptos que vimos acerca de control de versiones, adem치s 
				agregar colaboradores y proyectos en GitHub para hacer ese proceso a칰n m치s sencillo y organizado. 
			</p>
		</main>
		<Footer />
	</body>
</html>
